@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 480px;
  padding: 2rem;
  text-align: center;
}

@layer base {
  :root {
    --background: oklch(1.0000 0 0);
    --foreground: oklch(0.1448 0 0);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.1448 0 0);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.1448 0 0);
    --primary: oklch(0.4882 0.1769 7.7587);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.9702 0 0);
    --secondary-foreground: oklch(0.2046 0 0);
    --muted: oklch(0.9702 0 0);
    --muted-foreground: oklch(0.5486 0 0);
    --accent: oklch(0.9702 0 0);
    --accent-foreground: oklch(0.2046 0 0);
    --destructive: oklch(0.5830 0.2387 28.4765);
    --destructive-foreground: oklch(0.9702 0 0);
    --border: oklch(0.9219 0 0);
    --input: oklch(0.9219 0 0);
    --ring: oklch(0.7090 0 0);
    --chart-1: oklch(0.4882 0.1769 7.7587);
    --chart-2: oklch(0.4882 0.1769 7.7587);
    --chart-3: oklch(0.4882 0.1769 7.7587);
    --chart-4: oklch(0.4882 0.1769 7.7587);
    --chart-5: oklch(0.4882 0.1769 7.7587);
    --radius: 1.5rem;
    --sidebar: oklch(0.9851 0 0);
    --sidebar-foreground: oklch(0.1448 0 0);
    --sidebar-primary: oklch(0.2046 0 0);
    --sidebar-primary-foreground: oklch(0.9851 0 0);
    --sidebar-accent: oklch(0.9702 0 0);
    --sidebar-accent-foreground: oklch(0.2046 0 0);
    --sidebar-border: oklch(0.9219 0 0);
    --sidebar-ring: oklch(0.7090 0 0);
    --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: IBM Plex Serif, ui-serif, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.08;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0.025em;
    --spacing: 0.26rem;
    --shadow-2xs: 0px 8px 10px 0px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 10px 0px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 10px 0px hsl(0 0% 0% / 0.20);
    --tracking-normal: 0.025em;
  }
  .dark {
    --background: oklch(0.1448 0 0);
    --foreground: oklch(0.9851 0 0);
    --card: oklch(0.2134 0 0);
    --card-foreground: oklch(0.9851 0 0);
    --popover: oklch(0.2686 0 0);
    --popover-foreground: oklch(0.9851 0 0);
    --primary: oklch(0.4882 0.1769 7.7587);
    --primary-foreground: oklch(0.9851 0 0);
    --secondary: oklch(0.2686 0 0);
    --secondary-foreground: oklch(0.9851 0 0);
    --muted: oklch(0.2686 0 0);
    --muted-foreground: oklch(0.7090 0 0);
    --accent: oklch(0.3715 0 0);
    --accent-foreground: oklch(0.9851 0 0);
    --destructive: oklch(0.7022 0.1892 22.2279);
    --destructive-foreground: oklch(0.2686 0 0);
    --border: oklch(0.3407 0 0);
    --input: oklch(0.4386 0 0);
    --ring: oklch(0.4882 0.1769 7.7587);
    --chart-1: oklch(0.4882 0.1769 7.7587);
    --chart-2: oklch(0.4882 0.1769 7.7587);
    --chart-3: oklch(0.4882 0.1769 7.7587);
    --chart-4: oklch(0.4882 0.1769 7.7587);
    --chart-5: oklch(0.4882 0.1769 7.7587);
    --radius: 1.5rem;
    --sidebar: oklch(0.2046 0 0);
    --sidebar-foreground: oklch(0.9851 0 0);
    --sidebar-primary: oklch(0.9851 0 0);
    --sidebar-primary-foreground: oklch(0.2046 0 0);
    --sidebar-accent: oklch(0.2686 0 0);
    --sidebar-accent-foreground: oklch(0.9851 0 0);
    --sidebar-border: oklch(1.0000 0 0);
    --sidebar-ring: oklch(0.4386 0 0);
    --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: IBM Plex Serif, ui-serif, serif;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.08;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0.025em;
    --spacing: 0.26rem;
    --shadow-2xs: 0px 8px 10px 0px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 10px 0px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 1px 2px -1px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 2px 4px -1px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 4px 6px -1px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 10px 0px hsl(0 0% 0% / 0.08), 0px 8px 10px -1px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 10px 0px hsl(0 0% 0% / 0.20);
  }
  .theme {
    --font-sans: IBM Plex Sans, ui-sans-serif, sans-serif, system-ui;
    --font-mono: IBM Plex Mono, ui-monospace, monospace;
    --font-serif: IBM Plex Serif, ui-serif, serif;
    --radius: 1.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}